button {
  color: black;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 10%;
}
// input {
//   border-radius: 10px;
//   color: black;
//   width: 70%;
// }
// label {
//   margin-top: 5%;
// }
.add-quantity-form {
  min-width: 150px;
  max-width: 500px;
  width: 10%;
}

.form-field-full-width {
  width: 100%;
}
