input{
    border-radius: 10px;
    color:black;
    width:110%;
}
.form-container{
    margin-left:12%;
    
}
.formStart{
    margin-top:5%;
}
button{
    color:black;
    border-radius: 10px;
    margin-left: 40%;
    margin-top:10%;
}
h3{
    margin-left:32%;
}
label{
    margin-top:5%;
}