
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <div class="form-container">
        <h3>Add Product</h3>
        <form (ngSubmit)="addProduct()" class="formStart">
          <div>
            <label for="newProduct.productId">Product ID</label>
            <input type="text" id="newProduct.productId" [(ngModel)]="newProduct.productId" name="newProduct.productId"/>
          </div>
          <div>
            <label for="newProduct.productName">Product Name</label>
            <input type="text" id="newProduct.productName" [(ngModel)]="newProduct.productName" name="newProduct.productName"/>
          </div>
          <div>
            <label for="newProduct.quantity">Quantity</label>
            <input type="number" id="newProduct.quantity" [(ngModel)]="newProduct.quantity" name="newProduct.quantity"/>
          </div>
          <div>
            <label for="newProduct.costPrice">Cost Price</label>
            <input type="number" id="newProduct.costPrice" [(ngModel)]="newProduct.costPrice" name="newProduct.costPrice"/>
          </div>
          <div>
            <label for="newProduct.salePrice">Sale Price</label>
            <input type="number" id="newProduct.salePrice" [(ngModel)]="newProduct.salePrice" name="newProduct.salePrice"/>
          </div>
          
          <div>
              <button type="submit">Click me</button>
          </div>
            
        </form>
      </div>
    </div>
  </div>
</div>