<div class="container-fluid">
  <div class="signIn">
    <a routerLink="/signIn" style="color:white">Sign in</a>
  </div>
  <div>
    <div>
      <img src="../../../assets/sales-counter-transparent.png">
    </div>
    <div class="leftAlign">
      Some description here related to this web application. What is the motto behind building this application. What are the features that are currently supported by this application and what are the features that will be supported in the future i.e. fetures which are currently under development.
    </div>
  </div>
</div>