<!-- <p>
  sell-product works!
</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <div class="form-container">
        <h3>Sell Product</h3>
        <form (ngSubmit)="sellProduct()" class="formStart">
          <div>
            <label for="sell_product.phoneNumber">Phone Number</label>
            <input
              type="number"
              [(ngModel)]="sell_product.phoneNumber"
              id="sell_product.phoneNumber"
              name="sell_product.phoneNumber"
            />
          </div>
          <div>
            <label for="sell_product.productName">Product Name</label>
            <input
              type="text"
              [(ngModel)]="sell_product.productName"
              id="sell_product.productName"
              name="sell_product.productName"
            />
          </div>
          <div>
            <label for="sell_product.quantity">Quantity</label>
            <input
              type="number"
              [(ngModel)]="sell_product.quantity"
              id="sell_product.quantity"
              name="sell_product.quantity"
            />
          </div>

          <div>
            <button type="submit">Click me</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
